<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="fsMonitorDemoApp"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.yoursway.fsmonitor.demo.FsMonitorDemo">
         </run>
      </application>
   </extension>

</plugin>
